 .img-style{
  width: 100px;
  height:100px;
}


.container{
  display:inline-block;
  flex-wrap: wrap;
  width:400px;
  height:400px;
  background-color:bisque;
  border:black solid 3px;
  border-radius: 5px;
  box-shadow: 0 8px 20px red;
  vertical-align: top;
  margin: 0px;
}

.img-div{
  padding:20px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.align p{
color:blue;

}

.align{
  text-align: center;
  color:darkblue;  
}
  .btn {
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: black solid 2px;
    border-radius: 6px;
    cursor: pointer;
  }
  .btn:hover,.btn:link {
    background-color:darkblue;
  }

  h1{
    background-color:darkcyan;
    padding:10px 10px;
  }

  h3{
    color:brown;
    font-size:20px;
  
  }

  span{
    font-size: 20px;
  }

