 .img-style{
  width: 100px;
  height:100px;
}
.service-card .card-body{
  width:300px;
  margin:10px;
  box-sizing:border-box;
  box-shadow: 1px 2px 4px pink;
}

.container{
  display:inline-block;
  flex-wrap: wrap;
 
  width:400px;
  height:400px;
  background-color: rgb(223, 30, 194);
  border:rgb(255, 205, 244) solid 3px;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

}

.img-div{
  padding:20px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.align p{
color:aqua;

}

.align{
  text-align: center;
  color:darkblue;  
}
  .btn {
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: black solid 2px;
    border-radius: 6px;
    cursor: pointer;
  }
  .btn:hover,.btn:link {
    background-color:darkblue;
  }

