.container{
  display:inline-block;
  flex-wrap: wrap;
  width:500px;
  height:500px;
  background-color:lightgoldenrodyellow;
  border:black solid 3px;
  border-radius: 5px;
  box-shadow: 0 8px 20px blue;
  vertical-align: top;
  margin: 0px;
  align-items: center;
}

.card{
  justify-items: center;
  text-align: center;
}


h1{
  text-align: center;
  color:darkblue;
  background-color: lightblue;
}

.img-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.img-style{
    height:150px;
  width:150px;
}

.stars{
  text-align: center;
  font-size: 20px;
  color:purple;

}

.title{
  text-align: center;
  color:darkred;
}

p{
  text-align: center;
  color:darkblue;
}

